<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</head>
<body>
        <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand  text-white" href="{{ url_for('home') }}">Health Disease Classifier</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Features</a>
            </li>


          </ul>
        </div>
      </div>
    </nav>
<!-- FORM STARTS HERE   -->
    <div class="container" style="margin: 50px">
    <form action="{{ url_for('result')}}" method="POST">
        <table class="table">
            <tr>
                <td>
                    <label for="age">Age</label>
                </td>
                <td>
                    <input id="age" name="age">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="sex">Sex</label>
                </td>
                <td>
                    <select id="sex" name="sex">
                        <option selected>--select option--</option>
                        <option value="0">Female</option>
                        <option value="1">Male</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="chestpaintype">Chest pain Type</label>
                </td>
                <td>
                    <select id="chestpaintype" name="chestpaintype">
                        <option selected>--select option--</option>
                        <option value="0">ASY</option>
                        <option value="1">ATA</option>
                        <option value="2">NAP</option>
                        <option value="3">TA</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="restingbp">Resting BP</label>
                </td>
                <td>
                    <input id="restingbp" name="restingbp">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="cholesterol">Cholesterol</label>
                </td>
                <td>
                    <input id="cholesterol" name="cholesterol">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="fastingbs">Fasting BS</label>
                </td>
                <td>
                    <select id="fastingbs" name="fastingbs">
                        <option selected>--select option--</option>
                        <option value="0">Fasting BS > 120mg/dl</option>
                        <option value="1">Fasting BS < 120mg/d</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="restingecg">Resting ECG</label>
                </td>
                <td>
                    <select id="restingecg" name="restingecg">
                        <option selected>--select option--</option>
                        <option value="1">Normal</option>
                        <option value="2">ST</option>
                        <option value="3">LVH</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="maxhr">Max HR</label>
                </td>
                <td>
                    <input id="maxhr" name="maxhr">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="angina">Exercise Angina</label>
                </td>
                <td>
                    <select id="angina" name="angina">
                        <option selected>--select option--</option>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="oldpeak">Oldpeak</label>
                </td>
                <td>
                    <input id="oldpeak" name="oldpeak">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="stslope">stslope</label>
                </td>
                <td>
                    <select id="stslope" name="stslope">
                        <option selected>--select option--</option>
                        <option value="1">Flat</option>
                        <option value="2">Up</option>
                        <option value="3">Down</option>
                    </select>
                </td>
            </tr>
        </table>

        <input type="submit" class="btn btn-dark" value="   Predict   ">

    </form>
    </div>
</body>
</html>